body{
    background-color: rgb(241,241,241);
    width: 100%;
}
#topnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(241,241,241);
    margin: auto;
}

#topnav div:nth-child(1){
    margin-left: 20px;
    
}
#topnav div:nth-child(2){
  
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
#topnav div:nth-child(2) a:nth-child(1){
    color:rgb(239,92,88);
}
#topnav div:nth-child(2) a{
    text-decoration: none;
    color: rgb(134, 133, 133);
}
#topnav div:nth-child(2) div{
   width: 0.01%;
   border: 0.01px solid rgb(146, 143, 143);
}
#middle-nav{
   
    width: 100%;
   background-color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-left: 0px;
}
#middle-nav div{
 
    width: 50%;
}
#middle-nav img{
    margin-left: 10px;
    width: 30%;
    
}
.search{
    width: 80%;
    height: 35px;
    margin-top: 10px;
}
#middle-nav button{
    width: 15%;
    height:40px;
    border: none;
    background-color:rgb(239,83,78);
    color: white;
    border-radius: 5px;
}
button:hover{
    box-shadow: rgba(235, 57, 57, 0.35) 0px 5px 15px;
}
.bottom-nav{
    width: 100%;
    height: 120px;
   background-color: white;

   
    margin: auto;
    border: 0.5px solid rgb(131, 128, 128);
    margin-top: 5px;
    
    
}
.bottom{
    width:80% ;
    display: grid;
    grid-template-columns: repeat(7,1fr);
   
    margin-left: 70px;
}
.bottom div{
    width: 100% ;
    height: 120px;
    margin: auto;
    padding-left:5px ;
    padding-right: 5px;
  
  
    text-align: center;
   

}
.bottom div:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: rgb(241,241,241);
  
    
}

.bottom-nav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 18px;
    margin-top: 25px;

    
}
.bottom-nav a{
    text-align: center;
    text-decoration: none;
}
.bottom-nav div a:hover{
    color: red;
}

#divshow{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
   
}
#imageshow{
    width: 95%;
    margin-left: 30px;
    margin-right: auto;
    border-radius: 8px;
    
}
#top-brands{
    width: 100%;
    margin: auto;
}
#top-brands h1{
   margin-left: 28px;
}

.top-brand-div{
    width: 95%;
    margin: auto;
    display: flex;
   
}
.top-brand-div img{
    width: 70%;
}
.buffet{
    width: 100%;
    margin: auto;
}
.buffet h1{
    margin-left: 28px;
}
.buffet-div{
    width: 75%;
    display: flex;
  margin-left: 28px;
}
.buffet-div img{
    width: 85%;
}
.divshow-2{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
}
#imageshow-2{
    width: 95%;
    margin-left: 30px;
    margin-right: auto;
    border-radius: 8px;
    
}
#select{
    border-radius: 10px;
    width: 42%;
    height: 25px;
}
#Hangouts{
    
    width: 100%;
    margin: auto;
}
#Hangouts h1{
    margin-left: 28px;
}

#hangdata{
  width:90%;
    height: 300px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(6,1fr);
  gap: 10px;
  border-radius: 10px;
  position: relative;
 
 

}
#hangdata div{
    width: 95%;
   
    border-radius: 10px;
   
    
   
}
#hangdata div img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    
    filter: blur(0.8px);
}

.ofr{
    color: white;
    font-size: 18px;
    position: absolute;
    top:240px;
    margin-left: 10px;
    font-weight: 600;
 
}
.money{
    color: white;
    font-size: 18px;
    position: absolute;
    top:220px;
    margin-left: 10px;
    font-weight: 600;
 
}
.add{
    color: rgb(255,255,255);
    font-weight: 600;
    
    font-size: 18px;
    position: absolute;
    top: 200px;
    margin-left: 8px;
  
}
.new{
    width: 100%;
    margin: auto;
   
    

}
.topnew{
    display: flex;
    width: 90%;
    margin: auto;
}
.newdiv:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.new h1{
    margin-left: 28px;
}
.newdiv{
    width: 25%;
   
    margin-left: 30px;

}
.new div img{
    width: 100%;
    border-radius: 10px;
}
.swi{
  
        font-size: 20px;

        color: rgb(51,51,51);
        margin-left: 10px;
       
    
}

.new div :nth-child(5){
   width: 90%;
   margin-left: 10px;
    display: flex;
   
   height:10px;
    justify-content: space-between;
}
#offer p{
    color: rgb(90, 88, 88);
    text-decoration: line-through
}
#offer h4{
    color: rgb(239,83,88);
   
}
.new div :nth-child(6){
    color: rgb(54,169,84) ;
    margin-left: 10px;
    margin-bottom: 10px;
}
.Quick{
    width: 100%;
    margin: auto;
}
.Quick h1{
    margin-left: 28px;
}
#qbites{
    width: 95%;
    margin: auto;
    display: flex;
}
#qbites div{
    width: 30%;
    margin: auto;

}
#qbites div img{
    width: 90%;
}
.mind{
    width: 100%;
   
}
.mind h1{
    margin-left: 28px;
}
#minddiv{
    width: 95%;
    display: flex;
    margin: auto;
}
#minddiv div{
    width: 30%;
   
}
#minddiv div img{
    width: 90%;
    border-radius: 10px;
}
.divshow-3{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
}
#imageshow-3{
    width: 95%;
    margin-left: 30px;
    margin-right: auto;
    border-radius: 8px;
    
}
.salon{
    width: 100%;
}
.salon h1{
    margin-left: 28px;
}
.salondiv{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    margin: auto;
}
.salondiv img{
    width: 100%;
    border-radius: 10px;
}
.salondiv p{
    
    display: inline-block;
    margin: 0px;
    
}
.salondiv h2{
   
    top: 1px;
    margin-bottom: 4px;
}
.divshow-4{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
}
#imageshow-4{
    width: 95%;
    margin-left: 30px;
    margin-right: auto;
    border-radius: 8px;
    
}
.divshow-5{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
}
#imageshow-5{
    width: 95%;
    margin-left: 30px;
    margin-right: auto;
    border-radius: 8px;
    
}
.footer-1{
    width: 100%;
    display: flex;
    margin-top: 40px;
   
    background-color: rgb(51,51,51);
    color: white;
    padding-bottom: 20px;
}
.footer-1 div:nth-child(1){
    width: 80%;
    margin: auto;
    margin-left: 20px;
    
}
.footer-1 div:nth-child(2){
    width: 20%;   
}
.ptag{
    font-size: 15px;
}

.right{
    
    margin-left: 40px;
}
.social{
    display: flex;
   
   
}
.footer-2{
    width: 100%;
    display: flex;
    border: 1px solid black;
    background-color: black;
}
.left-2{
    width: 30%;
   display: flex;
    
    justify-content: space-between;
    color: white;
    margin-left: 25px;
}
.right-2{
    width: 35%; 
    
    color: white;
    margin-left: 300px;
}
.leftdiv1{
    display: grid;
    grid-template-columns: repeat(1,fr);
   
}
.leftdiv2{
    display: grid;
    grid-template-columns: repeat(1,fr);
    
}
.leftdiv1 a{
    text-decoration: none;
    color: white;
}
.leftdiv2 a{
    text-decoration: none;
    color: white;
   
}
.rightdiv{
   
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.rightdiv img{
    width: 100%;
   
}
.rightdiv div{

    width: 50%;
    margin: 0px;
}
.rightdiv h3{
    margin-left: 30px;
   
}
.leftdiv2 p{
    
    color: rgb(80, 79, 79);
}



